.skills-progress-body{
    padding: 80px 0;
    & .skills-progress-image{
        margin-right: 30px;
        &__image{
            width: 100%;
        }
    }
   & .skills-main-heading{
       margin-left: 30px;
       @include media-breakpoint-down(md){
           margin-top: 80px;
       }
    & .skills-details{
        &__value{
            font-size: 15px;
            background: $hotpink-50;
            padding: 3px 12px;
            color: $hotpink;
            font-weight: 700;
            font-family: var(--heading-font);
            letter-spacing: 1px;
            display: inline-block;
            border-radius: 3px;
            margin: 0;
        }
        &__header{
            padding: 20px 0 0 0;
            font-size: 38px;
            font-weight: 500;
            font-family: var(--heading-font);
            color: $black;
            letter-spacing: 1px;
        }
        &__title{
            margin: 0;
            padding: 18px 0 0 0;
            font-size: 17px;
            line-height:30px;
            color: $black-600;
            font-weight: 400;
            font-family: var(--heading-font);
        }
    }
    & .business-strategy-progress{
        margin: 30px 0;
        &__porgress-heading{
            margin: 0;
            padding-bottom: 11px;
            color: $black;
            font-size: 15px;
            font-family: var(--special-font-bold);
            position: relative;
            
            &::after{
                content: '95%';
                position: absolute;
                right: 5%;
                font-size: 13px;
                color: $black;   
                font-family: var(--special-font-bold);
            }
        }
        & .strategy-progress{
                height: 5px;
                display: flex;
                overflow: hidden;
                line-height: 0;
                font-size: .75rem;
                background-color: $white-200;
                border-radius: .25rem;

            &__strategy-progress-bar{
                display: -ms-flexbox;
                display: flex;
                -ms-flex-direction: column;
                flex-direction: column;
                -ms-flex-pack: center;
                justify-content: center;
                overflow: hidden;
                text-align: center;
                white-space: nowrap;
                background-color: $blueviolet;
                transition: width .6s ease;
            }
        }
    }

    & .optimization-progress{
        margin-bottom: 30px;
        &__porgress-heading{
            margin: 0;
            padding-bottom: 11px;
            color: $black;
            font-size: 15px;
            font-family: var(--special-font-bold);
            position: relative;
            
            &::after{
                content: '87%';
                position: absolute;
                right: 13%;
                font-size: 13px;
                color: $black;   
                font-family: var(--special-font-bold);
            }
        }
        & .optimization-progress{
            height: 5px;
            display: flex;
            overflow: hidden;
            line-height: 0;
            font-size: .75rem;
            background-color: $white-200;
            border-radius: .25rem;

        &__optimization-progress-bar{
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            -ms-flex-pack: center;
            justify-content: center;
            overflow: hidden;
            text-align: center;
            white-space: nowrap;
            background-color: $hotpink;
            transition: width .6s ease;
        }
      }
    }

    
    & .social-marketing-progress{
        margin-bottom: 30px;

        &__porgress-heading{
            margin: 0;
            padding-bottom: 11px;
            color: $black;
            font-size: 15px;
            font-family: var(--special-font-bold);
            position: relative;
            
            &::after{
                content: '63%';
                position: absolute;
                right: 37%;
                font-size: 13px;
                color: $black;   
                font-family: var(--special-font-bold);
            }
        }
        & .social-marketing-progress-progress{
            height: 5px;
            display: flex;
            overflow: hidden;
            line-height: 0;
            font-size: .75rem;
            background-color: $white-200;
            border-radius: .25rem;

        &__social-marketing-progress-bar{
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            -ms-flex-pack: center;
            justify-content: center;
            overflow: hidden;
            text-align: center;
            white-space: nowrap;
            background-color: $skyblue-700;
            transition: width .6s ease;
        }
      }
    }

    
    & .web-development-progress{

        &__porgress-heading{
            margin: 0;
            padding-bottom: 11px;
            color: $black;
            font-size: 15px;
            font-family: var(--special-font-bold);
            position: relative;
            
            &::after{
                content: '55%';
                position: absolute;
                right: 45%;
                font-size: 13px;
                color: $black;   
                font-family: var(--special-font-bold);
            }
        }
        & .web-development-progress{
            height: 5px;
            display: flex;
            overflow: hidden;
            line-height: 0;
            font-size: .75rem;
            background-color: $white-200;
            border-radius: .25rem;

        &__web-development-progress-bar{
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            -ms-flex-pack: center;
            justify-content: center;
            overflow: hidden;
            text-align: center;
            white-space: nowrap;
            background-color: $yellow-500;
            transition: width .6s ease;
        }
      }
    }
   }
}