$white:      #FFFFFF;
$white-200:  #F1EFEF;
$gray:       #8686;
$gray-600:   #8792AD;
$gray-300:   #86898E;
$hotpink:    #FB56A3;
$hotpink-50: #ff69b470;
$black:      #000000;
$black-100:  #202A34;
$black-500:  #585858;
$black-600:  #373D44;
$gray-650:   #58585878;
$dark-blue:  #42495B;
$primary:    #0909C8;
$blue-500:   #6340C8;
$blueviolet: #380988;
$violet-600: #26313C;
$violet-300: #784592;
$skyblue:    #1DA1F2;
$skyblue-700:#01C8B3;
$yellow-500: #FF9B0E;
